a {
  text-decoration: none;

  &:visited {
    color: var(--color-light-100);
  }
}

.button {
  cursor: pointer;

  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 24px;

  font-size: 16px;
  font-weight: 600;

  border: none;
  border-radius: 2px;
  outline: none;

  &:focus-visible {
    border: none;
    outline: 2px solid var(--color-accent-700);
  }
}

.primary {
  color: var(--color-light-100);
  background-color: var(--color-accent-500);

  &:active {
    background-color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-accent-100);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  color: var(--color-light-100);
  background-color: var(--color-dark-300);

  &:active {
    background-color: var(--color-dark-500);
  }

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-500);
  }
}

.outlined {
  color: var(--color-accent-500);
  background-color: transparent;
  border: 2px solid var(--color-accent-500);

  &:active {
    color: var(--color-accent-700);
    border: 1px solid var(--color-accent-700);
  }

  &:hover {
    color: var(--color-accent-100);
    border: 1px solid var(--color-accent-100);
  }

  &:disabled {
    color: var(--color-accent-900);
    border: 1px solid var(--color-accent-900);
  }
}

.borderless {
  width: 100px;
  //height: 36px; - мешает для Heders компоненты
  color: var(--color-accent-500);
  background-color: transparent;

  &:active {
    color: var(--color-accent-700);
  }

  &:hover {
    color: var(--color-accent-100);
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}

.fullWidth {
  width: 100%;
}
