.box {
  //position: absolute;

  width: 100%;
  max-width: 300px;
  max-height: 407px;
  margin: 0;
}

.datePicker {
  all: unset;

  box-sizing: border-box;
  max-width: 158px;
  padding-right: 59px;
  padding-left: 12px;

  color: white;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
}

.inputContainer {
  position: relative;
  border: 1px solid red;
}

.input {
}

.calendarIcon {
  position: absolute;
  top: 6px;
  right: 12px;
  color: white;
}

.calendar {
  position: relative;
  top: -10px;

  width: 300px;
  height: 100%;
  max-height: 348px;
  padding: 16px 24px;

  text-align: center;

  border: 1px solid red;
}

.days {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 35px;
}

.headerContainer {
  position: relative;

  display: flex;
  justify-content: right;

  max-width: 250px;

  border: 1px solid green;
}

.monthsYear {
  position: absolute;
  left: 8px;
}

:global(.react-datepicker__month-container) {
  width: 100%;
  max-width: 252px;
}

:global(.react-datepicker__day) {
  color: white;
}

:global(.react-datepicker__day-names) {
  display: flex;
}

:global(.react-datepicker__day-name) {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 40px;
  margin: 0;
}

:global(.react-datepicker__aria-live) {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

:global(.react-datepicker__triangle) {
  opacity: 0;
}
